:root {
  --main-font: "Oswald", sans-serif;
  --second-font: "Fira Sans", sans-serif;

  --main-bg-color: #f3f5fa;

  --light-green-btn-color: #dcefd8;
  --green-btn-color: #97d28b;
  --dark-green-btn-color: #173d33;

  --white: #fff;

  --tablet-width: calc(50% - 12px);
  --desktop-width: calc(50% - 160px);
}

body {
  margin: 0;
  box-sizing: border-box;
  background: #f3f5fa;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
a,
ul,
ol,
button {
  margin: 0;
  padding: 0;
}

input,
textarea {
  outline: transparent;
}

a {
  text-decoration: none;
  color: currentColor;
  line-height: 0;
}

ul,
ol {
  list-style: none;
}

button {
  display: block;
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: transparent;
}

section {
  padding-bottom: 36px;

  @media screen and (min-width: 768px) {
    padding-bottom: 100px;
  }

  @media screen and (min-width: 1280px) {
    padding-bottom: 120px;
  }
}
